.pagination {
  text-align: right;
  position: relative;
  padding: 7px;
  right: 1.5%;

}

.page {
  padding: 4px;
  cursor: pointer;
  border: 1px solid black;
}

.active {
  font-weight: bold;
}

.sort {
  cursor: pointer;
}