.container {
    display: grid;
    grid-template-areas:'header header header'
    'main main main';
    grid-template-rows: 60px minmax(85vh, 1fr);
    grid-template-columns: 12fr;
}

.header {
    grid-area: header;
}

.main {
    background-color: #f0f2f7;
    grid-area: main;
}
