.container {
    display: grid;
    grid-template-areas:'header header header'
    'main main main'
    'footer footer footer';
    grid-template-rows: 60px minmax(85vh, 1fr) 60px;
    grid-template-columns: 12fr;
}

.header {
    grid-area: header;
}

.main {
    background-color: #f0f2f7;
    grid-area: main;
}
.footer {
    background-color: darkgrey;
    grid-area: footer;
}
